/**
 * 
 */

/**
 * Reset
 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, .btn 
{ margin: 0; padding: 0; border: 0; font-size: 100%; font-family: inherit; vertical-align: baseline }
a img, frameset { border: 0; }
table {	border-collapse: collapse; border-spacing: 0; }
caption, th, td { text-align: left;	font-weight: normal; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q {	quotes: "" ""; }


body {
  background-attachment: scroll;
  background-color: transparent;
  background-repeat: repeat;
  background-position: 0 0;
  color: #FFFFFF;
}
body.intro {
  background-image: url('../images/background-config-front.png');
}
body.outro {
  background-image: url('../images/background-evaluate.png');
}

h1 {
  position: absolute;
  left: 200px;
  top: 420px;
  font-size: 45px;
}
h1 a {
  color: #FFFFFF;
  text-decoration: none;
}
h1 a:hover {
  text-shadow: 0px 5px 5px #333333;
}

h2 {
  position: absolute;
  left: 265px;
  top: 548px;
  font-size: 30px;
}

.date {
  position: absolute;
  left: 847px;
  top: 600px;
  font-size: 20px;
}

.room {
  position: absolute;
  left: 870px;
  top: 645px;
  font-size: 20px;
}