/**
 * Base color (green titles): #00FF33
 */

/**
 * Reset
 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, .btn 
{ margin: 0; padding: 0; border: 0; font-size: 100%; font-family: inherit; vertical-align: baseline }
a img, frameset { border: 0; }
table {	border-collapse: collapse; border-spacing: 0; }
caption, th, td { text-align: left;	font-weight: normal; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q {	quotes: "" ""; }


/**
 * Basics
 */
.hide { display: none; }
.contain-overflow { overflow: hidden; }
.screen-reader { display: block; left: -9999px; position: absolute; top: -9999px; }
.row:after, .clearfix:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}
.amp { font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif; font-size: 1.1em; font-style: italic; font-weight: normal; }
body {
  background-color: #1a1f1e;
  color: #FFFFFF;
	font: 24px/36px Helvetica, Arial, Sans-Serif;
  line-height: 1em;
}

/**
 * Basic Headings
 */	
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
h1 { font-size: 18px; line-height: 18px; }
h2, h3, h4, h5 { font-family: Georgia, "Times New Roman", Times, serif; }
h2 {
  color: #FFFFFF; 
  font-size: 2.5em;
  margin-bottom: 1em;
  line-height: 1em;
}
h3 {
  color: #CCFF00;
  font-size: 2em;
  margin-top: .5em;
}
	
/**
 * Links
 */
a, a:link { text-decoration: underline; }
a:hover { text-decoration: none; }
a:active, a, a:visited, a:hover {
  color: #FF3300;
}
h1 a, h1 a:active, h1 a:visited, h1 a:hover {
  color: #BBBBBB;
}
	
/**
 * Common
 */
p, ol, ul, table { margin: 0 0 30px; }
ul { list-style: square; }
li { border-bottom: 1px solid rgba(147,204,198,0.2); padding: 20px 0; }
li:first-child { padding-top: 0; }
li:last-child { border-bottom: none; padding-bottom: 0; }
ul li img {
  float: right;
}
	
/**
 * Slide template
 */
#header, #footer {
  background: #444444;
  color: #BBBBBB;
  font-size: 10px; 
  line-height: 10px;
  position: fixed;
  width: 100%;
  z-index: 10;
}
#header { top: 0; }
#footer { bottom: 0; text-align: right; }
#header .container, #footer .container { padding: 10px; }
		
/**
 * Slide parts
 */
button { 
	cursor: pointer; 
	width: auto;
	overflow: visible;
}
label { font-weight: bold; }
#slides { top: 40px; }
.slide { padding: 100px; }
.js .slide { position: absolute; }
  
/**
 * Navigation
 */
.nav-pager, .nav-prev-next { font-size: 10px; line-height: 10px; list-style: none; margin: 0; overflow: hidden; position: fixed; z-index: 100; }
.nav-pager li, .nav-prev-next li { border: none; float: left; padding: 0; }
.nav-pager a, .nav-prev-next a { display: block; line-height: 12px; }
.nav-pager { bottom: 0; left: 20px; }
.nav-pager li { margin-right: 10px; }
.nav-pager a, .nav-prev-next a { background: #FF7AE4; color: rgba(26,31,30,0.5); padding: 6px 3px; text-decoration: none; }
.nav-pager .current a, .nav-prev-next a:hover { background: #FF3DD8; color: #FFFFFF; }
.nav-prev-next { right: 20px; top: 0; }
.nav-prev-next li { margin-left: 10px; }
	
/**
 * Title page
 */
.title-page h2 {
  margin-top: .2em;
  margin-bottom: .2em;
  font-size: 3em;
  text-align: center;
}
.title-page h3 {
  text-align: center;
}
.authors {
  margin-top: 4em;
  margin-bottom: 0;
  color: #BBBBBB;
  text-align: center;
}
.title-page {
  background-color: transparent;
  /* background-image: url("../images/openlayers_monster-600.png"); */
  background-repeat: no-repeat;
  background-position: 475px 240px;
  padding-bottom: 50px;
}
.title-page img {
  text-align: center;
  margin-left: -65px;
  margin-top: 3em;
}

/**
 * Demo link
 */
.demo-links {
  float: right;
  margin-right: -80px;
}
.demo-links a {
  float: right;
  display: block;
  width: 6.3em;
  text-decoration: none;
  background-color: #004DFF;
  color: #FFFFFF;
  text-align: center;
  font-size: .7em;
  padding: .12em;
  margin-left: .2em;
}

/**
 * Presenter
 */
.thomas, .alan {
  color: #555555;
  font-family: "Andale Mono";
  margin-right: 4px;
  font-size: .7em;
}