/* $Id */

/**
 * @file
 * CSS for general behavoirs
 *
 * @ingroup openlayers
 */

/**
 * Tooltip
 * You may also with to set offset_top, and offset_left in the behavior attributes
 * in order to fine tune the position of the tooltip.
 */
.openlayers-behaviors-tooltip-container {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1004;
}

.openlayers-behaviors-tooltip {
  position: relative;
  right: 12px;
  bottom: 6px;
  background-color:white;
  padding: 2px 3px 2px 3px;
  border: 1px solid #006699;
}

img.openlayers-tooltip-point {
  position: absolute;
  bottom: -7px;
  left: 5px;
  padding: 0px;
}

/**
 * Controls
 */
.openlayers-controls-draw-feature-link {
  display: block;
  width: 24px;
  height: 22px;
  z-index: 1000;
  margin: 2px;
  float: right;
}

/* pan */
.openlayers-controls-draw-feature-link-pan.openlayers-controls-draw-feature-link-on {
  background: url("images/pan_on.png") top left no-repeat;
}
.openlayers-controls-draw-feature-link-pan.openlayers-controls-draw-feature-link-off {
  background: url("images/pan_off.png") top left no-repeat;
}

/* point */
.openlayers-controls-draw-feature-link-point.openlayers-controls-draw-feature-link-on {
  background: url("images/draw_point_on.png") top left no-repeat;
}
.openlayers-controls-draw-feature-link-point.openlayers-controls-draw-feature-link-off {
  background: url("images/draw_point_off.png") top left no-repeat;
}

/* path */
.openlayers-controls-draw-feature-link-path.openlayers-controls-draw-feature-link-on {
  background: url("images/draw_path_on.png") top left no-repeat;
}
.openlayers-controls-draw-feature-link-path.openlayers-controls-draw-feature-link-off {
  background: url("images/draw_path_off.png") top left no-repeat;
}
/* polygon */
.openlayers-controls-draw-feature-link-polygon.openlayers-controls-draw-feature-link-on {
  background: url("images/draw_polygon_on.png") top left no-repeat;
}
.openlayers-controls-draw-feature-link-polygon.openlayers-controls-draw-feature-link-off {
  background: url("images/draw_polygon_off.png") top left no-repeat;
}

/**
 * Fullscreen
 */
.openlayers-controls-fullscreen {
  cursor: pointer;
  width: 16px;
  height: 16px;
  background: url("images/view-fullscreen.png") top left no-repeat;
  display: block;
  float: right;
  margin: 4px;
  z-index: 1000;
}

.openlayers-controls-unfullscreen {
  cursor: pointer;
  width: 16px;
  height: 16px;
  background: url("images/unview-fullscreen.png") top left no-repeat;
  display: block;
  float: right;
  margin: 4px;
  z-index: 1000;
}